


.nav-link{
color :white !important;

}
.nav-link:hover{
    color:yellow !important;
    background-color: red;
    border-radius: 15px; 
}

#third{
    background:url("/static/images/company_img.jpg") 50% 0 no-repeat fixed;
    color:white;
    height:650px;
    padding:100px 0 0 0;
  }

